<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/style.css">
    <title>Aquidneck Island Earth Week Challenge</title>
</head>

<body>
    <div class="main">

        <nav class="links-nav">
            <a href="/" id='home-link'>Home</a>
            <a href="/rows" id='all-rows-link'>View all entries for the Earth Week Challenge!</a>
            <a href="/rows/new" id='new-row-link'>Log New Trip To Access Point</a>
        </nav>  

        <h1>Aquidneck Island Earth Week Challenge</h1>

        <div class ='intro'>
            Get outside and explore Aquidneck Island's public right-of-ways this Earth Week! The goal is to visit the most amount of rights-of-ways then your classmates. After visiting them, log your trip to the tally to see who has visited which rights-of-ways. Also feel free to add some information about the access point. This information will be shared with local environmental nonprofits to bring attention to any locations in need of attention and let the public know which spots get the most visits! To find your local access points, view them all below! If you make a mistake with your entry, please feel free to edit or delete your entry.
        </div>

        <br>
        <br>

        <div class="map">
            <style>.embed-container {position: relative; padding-bottom: 80%; height: 0; max-width: 100%;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}</style><div class="embed-container"><small><a href="//www.arcgis.com/apps/Embed/index.html?webmap=6ab50d9cef0c47a49e894cde4b1d2ef7&extent=-71.3259,41.4699,-71.2937,41.4857&home=true&zoom=true&scale=true&search=true&searchextent=true&details=true&legend=true&active_panel=details&basemap_gallery=true&disable_scroll=true&theme=light" style="color:#0000FF;text-align:left" target="_blank">View larger map</a></small><br><iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="RI CRMC Rights-of-Way" src="//www.arcgis.com/apps/Embed/index.html?webmap=6ab50d9cef0c47a49e894cde4b1d2ef7&extent=-71.3259,41.4699,-71.2937,41.4857&home=true&zoom=true&previewImage=false&scale=true&search=true&searchextent=true&details=true&legend=true&active_panel=details&basemap_gallery=true&disable_scroll=true&theme=light"></iframe></div>
        </div>

        <br>
        <br>

        <div>
            <h3>More Information</h3>
            <ul>
                <li>For further information about public access in RI, visit: <a href="http://www.crmc.ri.gov/publicaccess/ri_access_guide.pdf">RI Access Guide</a></li>
                <li>
                    Get social with the challenge! Visit <a href="https://www.facebook.com/AquidneckIslandEarthWeek/">Aquidneck Island Earth Week on Facebook</a> or <a href="https://www.instagram.com/aquidneckislandearthweek/">Aquidneck Island Earth Week on Instagram</a>
                </li>
                <li>
                    Help monitor public access with Clean Ocean Access! Learn more about the program at <a href="https://drive.google.com/file/d/122Wuv42s2lv-HHmVLP6f5rD6yELnJtX5/view">Shoreline Access Monitoring Program</a>
                </li>
                <li>
                    After reviewing the program, feel free to start at this <a href="https://docs.google.com/forms/d/e/1FAIpQLSd4Vq8CD0FsSNHyf7wFv0LaJNFeAqyT6QUgUXJCU8FGsXL4Xg/viewform">Google Form</a>
                </li>
                <li>
                    Learn more about Earth Day at <a href="https://www.earthday.org/">earthday.org</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
