<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/style.css">
    <title>Aquidneck Island Earth Month Challenge</title>
</head>

<body>
<div class="main">
    <div class ='top-image'>
        <h1>Aquidneck Island Earth Month Challenge</h1>
    </div>

    <div class ='top-text'>
        <nav class="links-nav">
            <a href="/" id='home-link'>Home</a>
            <a href="/rows" id='all-rows-link'>View All Entries!</a>
            <a href="/rows/new" id='new-row-link'>Log New Trip!</a>
        </nav>    
    
        <div class ='intro'>
             <br>
             This April, Aquidneck Island celebrates Earth Day, all month long! Get outside and explore Aquidneck Island's 69 miles of coastline dotted with over 50 public rights-of-ways. Participate in the challenge to visit the most amount of rights-of-ways to be the All Islander champion! The goal of this challenge is to visit the most amount of rights-of-ways across the island during the Month of April. The race is on between you and all other students across the island.
             <br>
             <br>
             After visiting a right-of-way, log your trip to get credit and to share some details about your visit. If you make a mistake with your entry, you may edit or delete your entry. This information will be shared with local environmental nonprofits to bring attention to any locations in need of attention and let the public know which spots get the most visits! 
             <br>
             <br>
             At the end of the month, the results will be compiled to see who won the "All Islander Challenge" by visiting the most rights-of-ways.
             <br>
             <br>
             To find your local access points, view them all below! Hint, they are the red dots! 
        </div>
    </div>
        <br>
        <div class='video'>
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/57rVDNAGCMs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br>
        <button type="button" class="collapsible">Click Here To Hide/View Map</button>
        <div class="map">
            <style>.embed-container {position: relative; padding-bottom: 80%; height: 0; max-width: 100%;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}</style><div class="embed-container"><small><a href="//www.arcgis.com/apps/Embed/index.html?webmap=6ab50d9cef0c47a49e894cde4b1d2ef7&extent=-71.3259,41.4699,-71.2937,41.4857&home=true&zoom=true&scale=true&search=true&searchextent=true&details=true&legend=true&active_panel=details&basemap_gallery=true&disable_scroll=true&theme=light" style="color:#0000FF;text-align:left" target="_blank">View larger map</a></small><br><iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="RI CRMC Rights-of-Way" src="//www.arcgis.com/apps/Embed/index.html?webmap=6ab50d9cef0c47a49e894cde4b1d2ef7&extent=-71.3259,41.4699,-71.2937,41.4857&home=true&zoom=true&previewImage=false&scale=true&search=true&searchextent=true&details=true&legend=true&active_panel=details&basemap_gallery=true&disable_scroll=true&theme=light"></iframe></div>
        </div>
        <br>
        <br>
        <div class='resources'>
            <h2>More Information</h2>
            <ul>
                <li>
                    For further information about public access in RI, visit: <a href="http://www.crmc.ri.gov/publicaccess/ri_access_guide.pdf">RI Access Guide</a>
                </li>
                <li>
                    Help monitor public access with Clean Ocean Access! Signup to volunter with them here: <a href="https://www.cleanoceanaccess.org/action/volunteer/">Volunteer Signup</a>
                </li>
                <li>
                    Learn more about Earth Day at <a href="https://www.earthday.org/">earthday.org</a>
                </li>
                <li>
                    Explore Rhode Island's Coast via the Rhode Island Sea Grant site <a href="https://www.shoreline-ri.com/">Explore RI</a>
                </li>
            </ul>
        </div>
        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var map = this.nextElementSibling;
            if (map.style.display === "block") {
            map.style.display = "none";
            } else {
            map.style.display = "block";
            }
            });
            }
        </script>
    </div>
</body>
</html>
