@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

:root {
    --deep--blue: rgba(0, 58, 102, .9);
    --sea-foam: rgba(97, 173, 187, .9);
    --middle-blue: rgba(102, 198, 252, .9);
    --dark-blue: rgba(0, 152, 207, .9);
    --light--blue: rgba(215, 241, 244, .9);
    --primary--font: 'Amiri', serif;
}


* {
    box-sizing: border-box;
    margin: 0;
}


body {
    background-color: var(--deep--blue);
    font-family: var(--primary--font);
    display: flex;
    min-height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1%;
    padding: 1%;
}


.main {
      background-color: var(--sea-foam);
      font-family: var(--primary--font);
      color: white;
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-content: center;
      padding: 2%;
      margin: 2%;
      font-size: 1.25rem;
   
    
}


.links-nav{
    background-color: var(--light--blue);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
    margin: 1%;
    font-size: 1.25rem;
    font-weight: 200;
}

h1, h2 {
    display: flex;
    justify-content: center;
}

.video {
    display: flex;
    flex-grow: inherit;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}


.collapsible {
    background-color: var(--light--blue);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.2rem;
    display: flex;
    flex-grow: inherit;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

.main-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    flex-grow: 1;
}

table {
    background-color: rgb(24, 87, 99);
}

table, th,
td {
    border: 1px solid black;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    color: black;
}

tr:nth-child(odd) {
    background-color:teal;
    color: black;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: space-evenly;
}

.editbtn {
    background-color: aliceblue;
    color: black;
    border-radius: 5%;
}

.resources {
    background-color: var(--dark-blue);
    display: flex;
    align-items:center;
    justify-content: center;
    align-content: center;
    padding: 2%;
    margin: 2%;
    font-size: 1.5 rem;
    font-weight: 200;
}

.pic {
    background-image: url(../images/Pell-Bridge.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 55vh;
    margin-top: 5%;
}

.btmpic {
    width: auto;
    height: auto;
    align-self: center;
    margin: 1%;
    padding: 1%;
    border: 1%;
    }
 