

body {
    background-color: rgba(21, 78, 143, 0.85) ;
    height: 100%;
}


.main {
    background-color: rgba(46, 139, 87, .85);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    padding: 5%;
    margin: 5%;
    font-size: 1.5 rem;
    font-weight: 200;
    border-radius: 5%;
}

.video {
    display: flex;
    flex-grow: inherit;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}



.links-nav{
    background-color: lightgray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5vh;
}

h1, h2 {
    display: flex;
    justify-content: center;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.main-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    flex-grow: 1;
}

table {
    background-color: rgb(24, 87, 99);
}
table, th,
td {
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    color: black;
}

tr:nth-child(odd) {
    background-color:teal;
    color: black;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: space-evenly;
}

.editbtn {
    background-color: aliceblue;
    color: black;
}

.pic {
    background-image: url(../images/Pell-Bridge.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    color: white;
    padding: 5%;
    margin: 5%;
    flex-shrink: 0;
}

.resources {
    background-color: rgba(136, 177, 70, 0.85);
}