<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Mongoose All Rows</title>
</head>

<body>
    <div class ="main">

      <nav class="links-nav">
            <a href="/" id='home-link'>Home</a>
            <a href="/rows" id='all-rows-link'>View all entries for the Earth Week Challenge!</a>
            <a href="/rows/new" id='new-row-link'>Log New Trip To Access Point</a>
        </nav>  

        <main>
            <h1>Right of Way Catalog</h1>
            <table>
                <thead>
                    <th>Student</th>
                    <th>School</th>
                    <th>Right-of-Way Name</th>
                    <th>All Details</th>
                </thead>
            
                <tbody>
                    <% rows.forEach(row => { %>
                        <tr>
                            <td><%=row.participant %></td>
                            <td><%= row.school %></td>
                            <td><%= row.name %></td>
                            <td><a href="/rows/<%=row._id%>">All Details</a></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </main>
    </div>
</body>
</html>






