<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Mongoose All Rows</title>
</head>

<body>
    <div class ="main">

        <nav class="links-nav">
            <a href="/" id='home-link'>Go Home</a>
            <a href="/rows" id='all-rows-link'>All Rows</a>
            <a href="/rows/new" id='new-row-link'>Add New Row</a>
        </nav> 

        <main>
            <h1>Row Index</h1>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Town</th>
                    <th>Description</th>
                    <th>Details</th>
                </thead>
            
                <tbody>
                    <% rows.forEach(row => { %>
                        <tr>
                            <td><%= row.name %></td>
                            <td><%= row.town %></td>
                            <td><%= row.description %></td>
                            <td><a href="/rows/<%=row._id%>">Details</a></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </main>
    </div>
</body>
</html>



