
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>New Student Entry</title>
</head>

<body>
  <div class="main">

    <nav class="links-nav">
        <a href="/" id='home-link'>Home</a>
        <a href="/rows" id='all-rows-link'>View All Entries!</a>
        <a href="/rows/new" id='new-row-link'>Log New Trip!</a>
    </nav>     

    <h1>Log your visit to our Rights-Of-Ways!</h1>

    <form action="/rows" method="POST" autocomplete="off">
        <label>Student:
          <input type="text" name="participant" placeholder="Jane Smith">
        </label>
        <br>
        <br>
        <label>School:
              <input type="text" name="school" placeholder="Portsmouth Middle School">
        </label>
        <br>
        <br>
        <label>Right-of-Way Name:
            <input type="text" name="name" placeholder="Lee's Wharf">
        </label>
        <br>
        <br>
        <label>Right-of-Way Town
          <select name="town">
            <option value="Newport">Newport</option>
            <option value="Middletown">Middletown</option>
            <option value="Portsmouth">Portsmouth</option>
          </select>
        </label>
        <br>
        <br>
        <label>Debris:
            <textarea name="debris" placeholder="If you notice any litter, please provide feedback on roughly how much and the type."></textarea>
        </label>
        <br>
        <br>
        <label>Description
            <textarea name="description" placeholder="Feel free to share any details from your trip!"></textarea>
        </label>
        <br>
        <br>
        <label>How Likely Are You To Return?
            <select name="rating">
                <option value="1">1 - Definitely Not!</option>
                <option value="2">2 - Not Likely</option>
                <option value="3">3 - Maybe</option>
                <option value="4">4 - Likely</option>
                <option value="5">5 - Definitely Coming Back!</option>
            </select>
        </label>
        <br>
        <br>
        <label>Is There Safe Access To The Water?:
            <select name="access">
                <option value="Yes">Yes</option>
                <option value="Yes">No</option>
            </select>
        </label>
        <br>
        <br>
        <label>Date of Visit
          <input type="datetime-local" name="visitDate">
        </label>
        <br>
        <br>
        <label>
            <input type="submit" value="Log Trip!">
        </label>
       
    </form>
      <div class="btmpic">
        <img src="../images/landscape.jpeg" alt="">
     </div>

  </div>
</body>
</html>